/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #682a2a;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav li {
    margin: 0 10px;
    animation: navItemAnimation 3s ease-in-out infinite;
  }
  @keyframes navItemAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #682a2a;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #682a2a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-title-menu {
    margin-bottom: 10px;
  }
  
  .footer-lista-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-lista-menu li {
    margin-bottom: 5px;
  }
  
  .footer-lista-menu a {
    color: white;
    text-decoration: none;
  }
  
  .footer-text-inf {
    margin: 5px 0;
  }